<div fxLayout="column" fxLayoutAlign="start end">
    <!-- Back to Catalog Button -->
    <button class="back-button" (click)="navigateToCatalog()">Volver</button>

    <div fxLayout="row" fxLayoutAlign="center start" fxFlex="1 1 auto" fxLayout.lt-md="column" fxFlex.lt-md="0 0 100%">

        <!-- Sessions Info List -->
        <div class="card" fxFlex="0 0 35%" fxFlex.lt-md="0 0 45%">
            <div class="card-content">
                <app-session-list [eventInfo]="eventInfo" (addToCartEvent)="addToCart($event, this.eventInfo!)"
                    (removeFromCartEvent)="removeFromCart($event, this.eventInfo!)"></app-session-list>
            </div>
        </div>

        <!-- Shopping Cart -->
        <app-shopping-cart fxFlex="0 0 40%" fxFlex.lt-md="0 0 45%" ngClass.lt-md="shopping-cart-alignment" [cart]="cart"
            (removeFromCart)="removeFromCart($event.session, $event.eventInfo)">
        </app-shopping-cart>
    </div>

</div>