.card {
    border: 1px solid #ddd;
    border-radius: 0;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding-top: 15px;
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    text-align: left;  
}

.shopping-cart-alignment {
    margin: 15px;
    width: 100%;
    margin-left: 50px;
    margin-right: 0px;
}

.back-button {
    background: none;
    border: none;
    color: rgb(18, 126, 189);
    cursor: pointer;
}

.back-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}